In [56]:
import pandas as pd

In [76]:
muni = pd.read_csv('municipios.csv')
muni2 = pd.read_csv('datasets/municipios.csv')

In [77]:
muni = muni[muni['codigo_uf'] == 35]
muni.head()

    codigo_ibge              nome  latitude  longitude  capital  codigo_uf
30      3500105        Adamantina  -21.6820   -51.0737        0         35
32      3500204            Adolfo  -21.2325   -49.6451        0         35
62      3500303             Aguaí  -22.0572   -46.9735        0         35
65      3500402    Águas da Prata  -21.9319   -46.7176        0         35
67      3500501  Águas de Lindóia  -22.4733   -46.6314        0         35

In [78]:
muni2.head()

               Município  Posição  Estimativa 2019
0              São Paulo        1         12252023
1              Guarulhos        2          1379182
2               Campinas        3          1204073
3  São Bernardo do Campo        4           838936
4    São José dos Campos        5           721944

In [79]:
import unidecode

def normalizeWord(word):
    
    # lower case word
    word = word.lower()
    
    # remove accents
    word = unidecode.unidecode(word)
    
    return word

def removeTraço(word):
    
    word = ' '.join(word.split('-'))
    return word

def correctWord(word):
    
    word = normalizeWord(word)
    word = removeTraço(word)
    
    return word

In [80]:
muni['nome'] = muni['nome'].apply(lambda x : correctWord(x))
all_nomes = temp.values

In [81]:
for nome in muni2['Município'].values:
    nome = removeTraço(nome)
    if normalizeWord(nome) in all_nomes:
        continue
    else:
        print(nome)

Luiz Antônio
São Luís do Paraitinga
Florínea

In [82]:
muni2['Latitude'] = muni2['Município'].apply(lambda x : muni[muni['nome'] == correctWord(x)]['latitude'].values)
muni2['Longitude'] = muni2['Município'].apply(lambda x : muni[muni['nome'] == correctWord(x)]['longitude'].values)

for row in range(len(muni2)):
    try:
        muni2.at[row, 'Latitude'] = muni2.iloc[row]['Latitude'][0]
        muni2.at[row, 'Longitude'] = muni2.iloc[row]['Longitude'][0]
    except:
        continue

In [83]:
muni2.head()

               Município  Posição  Estimativa 2019 Latitude Longitude
0              São Paulo        1         12252023 -23.5329  -46.6395
1              Guarulhos        2          1379182 -23.4538  -46.5333
2               Campinas        3          1204073 -22.9053  -47.0659
3  São Bernardo do Campo        4           838936 -23.6914  -46.5646
4    São José dos Campos        5           721944 -23.1896  -45.8841

In [84]:
muni2.to_csv('municipios_lat_long.csv', index = False)

In [85]:
muni2

                  Município  Posição  Estimativa 2019 Latitude Longitude
0                 São Paulo        1         12252023 -23.5329  -46.6395
1                 Guarulhos        2          1379182 -23.4538  -46.5333
2                  Campinas        3          1204073 -22.9053  -47.0659
3     São Bernardo do Campo        4           838936 -23.6914  -46.5646
4       São José dos Campos        5           721944 -23.1896  -45.8841
..                      ...      ...              ...      ...       ...
640  Santana da Ponte Pensa      641             1487 -20.2523  -50.8014
641              Flora Rica      642             1464 -21.6727  -51.3821
642           Nova Castilho      643             1267 -20.7615  -50.3477
643                     Uru      644             1165 -21.7866  -49.2848
644                    Borá      645              837 -22.2696  -50.5409

[645 rows x 5 columns]